@import './global/colors';
@import './global/fonts';
@import './global/breakpoints';
@import './global/spacers';
@import './global/text-sizes';
@import './global/mixins';


// global text setup
h1, h2, h3, h4, h5, h6, p {
    color: $primary;
}

p {
    font-size: $font-base;
    font-family: $serif;
    font-weight: normal;
}

body {
    margin: 0;
}
