@import './global/colors';
@import './global/fonts';
@import './global/breakpoints';
@import './global/spacers';
@import './global/text-sizes';
@import './global/mixins';


// global text setup
h1, h2, h3, h4, h5, h6, p {
    color: $primary;
    margin: 0;
}

p {
    font-size: $font-base;
    font-family: $serif;
    font-weight: normal;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

ul, ol {
    margin: 0;
}
